<h1 class="food_title">Recipe items</h1>

<div id="recipe_items">
  <% @recipe_items.each do |recipe_item| %>
    <div class= "card-container">
      <div class= "card-header">
        <h3>Recipe <%= recipe_item.id%></h3>
        <h2><%= link_to recipe_item.name, recipe_item%></h2>
        <div class= "view-delete">        
          <div>
            <p>
              <%= link_to "View", recipe_item %>
            </p>
          </div>
          <% if can? :delete, recipe_item %>
          <div>
            <%= button_to "Delete", recipe_item, method: :delete, class: "delete" %>
          </div>
          <%end%>
        </div>
      </div>
      <div class= "description">
        <h4>Description:</h4>
        <p><%=recipe_item.description %></p>
      </div>
    </div>

  <% end %>
</div>

<%= link_to "Add new recipe", new_recipe_item_path, class: "btn_new_food" %>
